/*
element styling for main page
TODO:
    - change text boldness?
    - make text justified in box subtext
    - italic text
    - make quote closer to thor part

 */


/* fonts */
@font-face {
    font-family: 'roboto';
    src: url(/fonts/Roboto-Regular.ttf);
}

/* content types */
body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

header {
    display: flex;
    background-color: #1F2937;
    padding: 30px 100px;
    justify-content: space-between;
}

footer {
    background-color: #1F2937;
}

/* sections */

.section1 {
    background-color: #1F2937;
    display: flex;
    gap: 30px;
    padding: 100px;
    justify-content: center;
}

.section2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 150px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

/* header */
.header-links {
    display: flex;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

/* section 1 */
.text {
    width: 600px;
}

.text h1 {
    font-weight: 1000;
}

.text p {
    font-weight: 100;
}

.section1 p, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

/* section 2 */
.section2 h2 {
    font-weight: 1000;
}
.subtext {
    text-align: center;
    font-size: 18px;
}

/* section 3 */
.section3 .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 900px;
}

.section3 p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.section3 div {
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
}

/* section 4 */
.call-to-action {
    background-color: #3882F6;
    padding: 100px 100px;
}
/* footer */



/* other */
.box {
    border-style: solid;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    color: #3882F6;
    border-width: 4px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.info-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-image {
    width: 300px;
    height: auto;
}